/Makefile.in
/aclocal.m4
/autom4te.cache/*
/m4/*
/config/*
/configure
/src/config.h.in
*/Makefile.in
*/Makefile
/src/config.h
/src/stamp-h1
/src/.deps/*
/config.status
/libtool
/Makefile
/src/micbench_io
/jkr/result/*
/src/micbench-io
/src/micbench-mem
/src/__micbench*
/src/micbench-mem-inner*
/src/*.s
/src/micbench-mem-inner-short.c
/src/micbench-lock
/src/micbench-proto
