/aclocal.m4
/autom4te.cache/*
/m4/*
/config/*
/configure
/src/config.h.in
Makefile.in
Makefile
/src/config.h
/src/stamp-h1
/src/.deps/*
/config.status
/libtool
/src/micbench_io
/jkr/result/*
/src/micbench-io
/src/micbench-mem
/src/__micbench*
/src/micbench-mem-inner*
/src/*.s
/src/micbench-mem-inner-short.c
/src/micbench-lock
/src/micbench-proto
/src/micbench-lock-mfence-inner.c
/*/.libs/*
/*/.deps/*
/*/.libs/*
/*/*/.libs/*
/*/*/.deps/*
/*/*/.libs/*
/test/fixtures/*.sparse
/src/micbench-btreplay
/Gemfile.lock
